.start-screen__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.start-screen__board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 400px;
  height: 400px;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
}
.start-screen__board-container {
  cursor: not-allowed;
  border: 5px solid transparent;
  border-radius: 12px;

  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, orange, blue) border-box;
}

.start-screen__grid-elem {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.start-screen__ship-elem {
  background-color: rgba(255, 100, 0, 0.3);
  border: 0.15rem solid rgba(255, 100, 0, 1);
}
.start-screen__water-elem {
  background-color: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(0, 0, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 255, 0.5);
  font-size: 2rem;
}
.start-screen__sunk-ship-elem {
  background-color: rgba(255, 0, 0, 0.1);
  border: 0.15rem solid rgba(255, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-screen__reload-img,
.sunk-ship-elem__bomb-img {
  width: 2rem;
  height: 2rem;
}
.start-screen__btn-container {
  display: flex;
  justify-content: space-between;
}
.start-screen__reload-btn,
.start-screen__start-btn {
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    transform 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}
.start-screen__reload-btn {
  background-color: rgba(255, 100, 0, 1);
}
.start-screen__reload-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 15px rgba(255, 100, 0, 0.15);
}
.start-screen__start-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 255, 0.15);
}

.start-screen__reload-btn:active {
  transform: scale(1);
  box-shadow: 0px 0px 5px 5px rgba(255, 100, 0, 0.15);
}
.start-screen__start-btn:active {
  transform: scale(1);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, 0.15);
}

.start-screen__heading-ship,
.start-screen__heading-battle {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.start-screen__heading-ship {
  color: rgba(0, 100, 255, 1);
}
.start-screen__heading-battle {
  color: rgba(255, 100, 0, 1);
}
.start-screen__heading_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
